<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Helix Automation Suite" preserve-order="true">

	<listeners>
		<listener class-name="listeners.Test_listeners" />
	</listeners>

	<!-- ================= HOME ================= -->
	<test name="01 - HOME Tests">
		<groups>
			<run>
				<include name="Homepage" />
			</run>
		</groups>
		<classes>
			<class name="TestPages.HomeTest" />
		</classes>
	</test>

	<!-- ================= PLP ================= -->
	<test name="02 - PLP Tests">
		<groups>
			<run>
				<include name="PLP" />
			</run>
		</groups>
		<classes>
			<class name="TestPages.PLPTest" />
		</classes>
	</test>

	<!-- ================= PDP ================= -->
	<test name="03 - PDP Tests">
		<groups>
			<run>
				<include name="PDP" />
			</run>
		</groups>
		<classes>
			<class name="TestPages.PDPTest" />
		</classes>
	</test>

	<!-- ================= MINICART ================= -->
	<test name="04 - MINICART Tests">
		<groups>
			<run>
				<include name="MiniCart" />
			</run>
		</groups>
		<classes>
			<class name="TestPages.MiniCartTest" />
		</classes>
	</test>

	<!-- ================= CHECKOUT ================= -->
	<test name="05 - CHECKOUT Tests">
		<groups>
			<run>
				<include name="CheckOut" />
			</run>
		</groups>
		<classes>
			<class name="TestPages.CheckoutTest" />
		</classes>
	</test>

	<!-- ================= E2E FLOW ================= -->
	<test name="06 - E2E FLOW Tests">
    <groups>
        <run>
            <include name="E2EFlow"/>
        </run>
    </groups>
    <classes>
        <class name="TestPages.E2EFlowTest" />
    </classes>
</test>

</suite>